
@font-face {
	font-family: 'Iosevka SS10 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaSS10-Thin.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaSS10-Thin.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS10 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaSS10-ExtendedThin.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaSS10-ExtendedThin.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS10 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaSS10-ThinOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaSS10-ThinOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS10 Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaSS10-ThinOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaSS10-ThinOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS10 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaSS10-ExtendedThinOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaSS10-ExtendedThinOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS10 Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaSS10-ExtendedThinOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaSS10-ExtendedThinOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS10 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaSS10-ThinItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaSS10-ThinItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS10 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaSS10-ExtendedThinItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaSS10-ExtendedThinItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS10 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaSS10-ExtraLight.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaSS10-ExtraLight.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS10 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaSS10-ExtendedExtraLight.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaSS10-ExtendedExtraLight.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS10 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaSS10-ExtraLightOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaSS10-ExtraLightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS10 Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaSS10-ExtraLightOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaSS10-ExtraLightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS10 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaSS10-ExtendedExtraLightOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaSS10-ExtendedExtraLightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS10 Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaSS10-ExtendedExtraLightOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaSS10-ExtendedExtraLightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS10 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaSS10-ExtraLightItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaSS10-ExtraLightItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS10 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaSS10-ExtendedExtraLightItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaSS10-ExtendedExtraLightItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS10 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaSS10-Light.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaSS10-Light.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS10 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaSS10-ExtendedLight.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaSS10-ExtendedLight.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS10 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaSS10-LightOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaSS10-LightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS10 Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaSS10-LightOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaSS10-LightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS10 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaSS10-ExtendedLightOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaSS10-ExtendedLightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS10 Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaSS10-ExtendedLightOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaSS10-ExtendedLightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS10 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaSS10-LightItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaSS10-LightItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS10 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaSS10-ExtendedLightItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaSS10-ExtendedLightItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS10 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaSS10-Regular.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaSS10-Regular.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS10 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaSS10-Extended.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaSS10-Extended.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS10 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaSS10-Oblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaSS10-Oblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS10 Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaSS10-Oblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaSS10-Oblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS10 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaSS10-ExtendedOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaSS10-ExtendedOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS10 Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaSS10-ExtendedOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaSS10-ExtendedOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS10 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaSS10-Italic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaSS10-Italic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS10 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaSS10-ExtendedItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaSS10-ExtendedItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS10 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaSS10-Medium.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaSS10-Medium.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS10 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaSS10-ExtendedMedium.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaSS10-ExtendedMedium.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS10 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaSS10-MediumOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaSS10-MediumOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS10 Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaSS10-MediumOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaSS10-MediumOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS10 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaSS10-ExtendedMediumOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaSS10-ExtendedMediumOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS10 Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaSS10-ExtendedMediumOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaSS10-ExtendedMediumOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS10 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaSS10-MediumItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaSS10-MediumItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS10 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaSS10-ExtendedMediumItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaSS10-ExtendedMediumItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS10 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaSS10-SemiBold.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaSS10-SemiBold.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS10 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaSS10-ExtendedSemiBold.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaSS10-ExtendedSemiBold.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS10 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaSS10-SemiBoldOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaSS10-SemiBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS10 Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaSS10-SemiBoldOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaSS10-SemiBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS10 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaSS10-ExtendedSemiBoldOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaSS10-ExtendedSemiBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS10 Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaSS10-ExtendedSemiBoldOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaSS10-ExtendedSemiBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS10 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaSS10-SemiBoldItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaSS10-SemiBoldItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS10 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaSS10-ExtendedSemiBoldItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaSS10-ExtendedSemiBoldItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS10 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaSS10-Bold.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaSS10-Bold.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS10 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaSS10-ExtendedBold.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaSS10-ExtendedBold.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS10 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaSS10-BoldOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaSS10-BoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS10 Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaSS10-BoldOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaSS10-BoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS10 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaSS10-ExtendedBoldOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaSS10-ExtendedBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS10 Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaSS10-ExtendedBoldOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaSS10-ExtendedBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS10 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaSS10-BoldItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaSS10-BoldItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS10 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaSS10-ExtendedBoldItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaSS10-ExtendedBoldItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS10 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaSS10-ExtraBold.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaSS10-ExtraBold.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS10 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaSS10-ExtendedExtraBold.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaSS10-ExtendedExtraBold.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS10 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaSS10-ExtraBoldOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaSS10-ExtraBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS10 Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaSS10-ExtraBoldOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaSS10-ExtraBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS10 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaSS10-ExtendedExtraBoldOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaSS10-ExtendedExtraBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS10 Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaSS10-ExtendedExtraBoldOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaSS10-ExtendedExtraBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS10 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaSS10-ExtraBoldItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaSS10-ExtraBoldItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS10 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaSS10-ExtendedExtraBoldItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaSS10-ExtendedExtraBoldItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS10 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaSS10-Heavy.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaSS10-Heavy.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS10 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaSS10-ExtendedHeavy.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaSS10-ExtendedHeavy.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS10 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaSS10-HeavyOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaSS10-HeavyOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS10 Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaSS10-HeavyOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaSS10-HeavyOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS10 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaSS10-ExtendedHeavyOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaSS10-ExtendedHeavyOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS10 Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaSS10-ExtendedHeavyOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaSS10-ExtendedHeavyOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS10 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaSS10-HeavyItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaSS10-HeavyItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS10 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaSS10-ExtendedHeavyItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaSS10-ExtendedHeavyItalic.TTF') format('truetype');
}
